# Secrets
secrets.yaml

# Home Assistant managed/runtime folders
.storage/
.cloud/
.cache/
deps/
tts/

# Runtime files
.HA_VERSION
.ha_run.lock
*.log
*.log.*

# Databases
home-assistant_v2.db*
zigbee.db*

# Backups
backups/
*.tar

# Python/cache junk
__pycache__/
*.pyc

# OS/editor junk
.DS_Store
Thumbs.db

# HACS-managed content
custom_components/hacs/
www/community/